<h1>Listing patients Details</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Sno</th>
      <th>Admission date</th>
      <th>Patient name</th>
      <th>Attachment one</th>
      <th>Attachment two</th>
      <th>Appointment type</th>
      <th>Previous sno reference</th>
      <th>Accessories List</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.id %></td>
        <td><%= patient.admission_date %></td>
        <td><%= patient.patient_name %></td>
        <% if patient.attachment.present? %>
            <td><%= link_to "Download File", patient.attachment_url %> </td>
        <%else%>
            <td> - </td>
        <%end%>

        <% if patient.attachment1.present? %>
            <td><%= link_to "Download File", patient.attachment1_url %></td>
        <%else%>
            <td> - </td>
        <%end%>
        <td><%= patient.appointment_type %></td>
        <td><%= patient.previous_sno_reference %></td>
        <td><%= patient.accessories_list %></td>
        <td><%= link_to 'Show', patient,class: "btn btn-info"  %></td>
        <td><%= link_to 'PDF', create_pdf_patient_path(patient), method: 'post',class: "btn btn-primary"  %></td>
        <td><%= link_to 'Edit', edit_patient_path(patient),class: "btn btn-warning" %></td>
        <td><%= link_to 'Destroy', patient, method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="btn btn-primary"><%= will_paginate @patients %></div> <br> <br>

<%= link_to 'New Patient', new_patient_path, class: "btn btn-info" %>
