<p id="notice"><%= notice %></p>

<p>
  <strong>Admission date:</strong>
  <%= @patient.admission_date %>
</p>

<p>
  <strong>Patient name:</strong>
  <%= @patient.patient_name %>
</p>

<p>
  <strong>Patient address:</strong>
  <%= @patient.patient_address %>
</p>

<p>
  <strong>Patien mobile no:</strong>
  <%= @patient.patien_mobile_no %>
</p>

<p>
  <strong>Patien email:</strong>
  <%= @patient.patien_email %>
</p>

<p>
  <strong>Trigger date:</strong>
  <%= @patient.trigger_date %>
</p>

<p>
  <strong>Report:</strong>
  <%= @patient.report %>
</p>

<p>
  <strong>Attachment1:</strong>
  <%= link_to "Download Resume", @patient.attachment_url %></td>
</p>

<p>
  <strong>Attachment2:</strong>
  <%= link_to "Download Resume", @patient.attachment1_url %></td>
</p>


<p>
  <strong>Referal doctor:</strong>
  <%= @patient.referal_doctor %>
</p>

<p>
  <strong>Appointment type:</strong>
  <%= @patient.appointment_type %>
</p>

<p>
  <strong>Fees:</strong>
  <%= @patient.fees %>
</p>

<p>
  <strong>Previous sno reference:</strong>
  <%= @patient.previous_sno_reference %>
</p>

<p>
  <strong>Accessories List:</strong>
  <%= @patient.accessories_list %>
</p>

<p>
  <strong>Accessories Price:</strong>
  <%= @patient.accessories_price %>
</p>

<%= link_to 'Edit', edit_patient_path(@patient), class: "btn btn-warning" %> |
<%= link_to 'Back', patients_path, class: "btn btn-info" %>
